{% extends 'base.html.twig' %}

{% block title %}Currency Check!{% endblock %}

{% block body %}
    {% for item in data %}
        <div class="currencyItem">
            <p>{{ item.name }}</p>
            1 {{ item.getCurrencyCode }} = {{ item.getExchangeRate }} zł
        </div>
    {% endfor %}
{% endblock %}
