{% extends 'base.html.twig' %}

{% block title %}Currency Check!{% endblock %}

{% block body %}
    {% for item in data %}
        <div class="currencyItem">
            <p>{{ item.currency }}</p>
            1 {{ item.code }} = {{ item.mid }} zł
        </div>
    {% endfor %}
{% endblock %}
